.container00 {
    &.container01 {
        background-image: url(../../images/home/01.jpg);
    }

    &.container02 {
        background-image: url(../../images/home/02.jpg);
    }

    &.container03 {
        background-image: url(../../images/home/03.jpg);
        background-position: right;
    }

    &.container04 {
        background-image: url(../../images/home/04.jpg);
    }

    &.container05 {
        background-image: url(../../images/home/05.jpg);
    }
}

.titlePadding {
    padding-top: 400px;
}

.shortTitle {
    width: 550px;
    margin-bottom: 25px;
}

.mediumTitle {
    width: 650px;
    margin-bottom: 25px;
}

.mediumTitle,
.shortTitle {
    font-family: 'D-DIN-Bold' !important;
    font-size: 60px;
}

.h5 {
    font-family: 'D-DIN' !important;
    font-size: 30px;
}

@media(max-width: 750px) {
    .titlePadding {
        padding-top: 120px;
    }

    .shortTitle,
    .mediumTitle {
        width: auto;
        font-size: 50px;
    }

    .h5{
        font-size: 24px;
    }
}

@media(max-width: 380px) {

    .shortTitle,
    .mediumTitle {
        width: auto;
        font-size: 40px;
    }

    .h5{
        font-size: 16px;
    }
}